* text=auto !eol
LogicDiscovery/Makefile -text
LogicDiscovery/cam_buf.h -text
LogicDiscovery/config.h -text
LogicDiscovery/debug.cpp -text
LogicDiscovery/debug.h -text
LogicDiscovery/delay.c -text
LogicDiscovery/delay.h -text
LogicDiscovery/la/la_sampling.cpp -text
LogicDiscovery/la/la_sampling.h -text
LogicDiscovery/la/sump.cpp -text
LogicDiscovery/la/sump.h -text
LogicDiscovery/main.cpp -text
LogicDiscovery/makefile.local -text
LogicDiscovery/makefile.mk -text
LogicDiscovery/nvic.cpp -text
LogicDiscovery/nvic.h -text
LogicDiscovery/platform/stm32f2/startup.S -text
LogicDiscovery/platform/stm32f2/system.c -text
LogicDiscovery/platform/stm32f4/startup.S -text
LogicDiscovery/platform/stm32f4/system.c -text
LogicDiscovery/ramblocks.h -text
LogicDiscovery/stm32f4xx_conf.h -text
LogicDiscovery/stm32f4xx_flash.ld -text
LogicDiscovery/syscalls.c -text
LogicDiscovery/usb.cpp -text
LogicDiscovery/usb.h -text
LogicDiscovery/usb/vcp/usb_conf.h -text
LogicDiscovery/usb/vcp/usbd_cdc_core.c -text
LogicDiscovery/usb/vcp/usbd_cdc_core.h -text
LogicDiscovery/usb/vcp/usbd_cdc_vcp.c -text
LogicDiscovery/usb/vcp/usbd_cdc_vcp.h -text
LogicDiscovery/usb/vcp/usbd_conf.h -text
LogicDiscovery/usb/vcp/usbd_desc.c -text
LogicDiscovery/usb/vcp/usbd_desc.h -text
LogicDiscovery/usb/vcp/usbd_usr.c -text
